<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" >
    <link href="css/styleAdmin.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title> Tigre - Artigos Esportivos </title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="imagens/logo-semfundo.jpg">
        </div>

        <input type="checkbox" id="nav_check" hidden>
        <nav>

            <div class="logo">
                <img src="imagens/logo-semfundo.jpg">
            </div>

            <ul>
                <li> <a href="jaquetas"> Jaquetas e Moletons </a> </li>
                <li> <a href="tenis"> Tênis </a> </li>
                <li> <a href="#"> Esportes </a> </li>
                <li> <a href="products"> Todos os Produtos </a> </li>
                <li>
                    <div class="search-bar">
                    <input type="text" placeholder="Pesquisar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </li>
                <% if (!user) {%>
                    <li>
                        <div class="icons">
                            <a href="cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                            <a href="login"> <i class="fa-regular fa-user"></i> </a>
                        </div>
                    </li>
                <% } %>
                <% if (user) {%>
                    <li>
                        <div class="icons">
                            <a href="cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                            <div class="logout">
                                <p>Olá, <%= user.nome %>!</p>
                                <form action="logout" method="POST">
                                    <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                                </form>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>


        </nav>
        <label for="nav_check" class="hamburguer">
            <div></div>
            <div></div>
            <div></div>
        </label>
</header>

<div class="wrapper">
    <table id="ordersTable" class="table">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Nome do Produto</th>
                <th>Total</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody id="ordersBody">
            <!-- Conteúdo da tabela será adicionado dinamicamente aqui -->
        </tbody>
    </table>
</div>

<script src="https://kit.fontawesome.com/be07557a2e.js" defer crossorigin="anonymous"></script>
<script>
    // Função para carregar dinamicamente os pedidos usando Ajax
    function loadOrders() {
        fetch('/admin/orders')
            .then(response => response.json())
            .then(data => {
                const ordersBody = document.getElementById('ordersBody');
                ordersBody.innerHTML = ''; // Limpa o conteúdo atual

                let lastOrderId = null;

                data.orders.forEach(order => {
                    order.compras.forEach(compra => {
                        const row = document.createElement('tr');
                        if (lastOrderId !== order._id) {
                            const pedidoCell = document.createElement('td');
                            pedidoCell.textContent = order._id;
                            row.appendChild(pedidoCell);
                            lastOrderId = order._id;
                        } else {
                            row.appendChild(document.createElement('td'));
                        }
                        row.innerHTML += `
                            <td class='user'>${order.user.nome}</td>
                            <td class='produto'>${compra.product.name}</td>
                            <td>R$ ${compra.product.price.toFixed(2)}</td>
                            <td>${compra.endereco.cidade}, ${compra.endereco.rua}, ${compra.endereco.bairro}, ${compra.endereco.numero}, ${compra.endereco.cep}, ${compra.endereco.complemento}</td>
                            <td>${compra.quantity} </td>
                            `;
                        ordersBody.appendChild(row);
                    });
                });
            })
            .catch(error => {
                console.error('Erro ao carregar os pedidos:', error);
            });
    }

    // Chama a função para carregar os pedidos quando a página carrega
    window.onload = loadOrders;
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>